.complaint-tl-wrap{
    @apply bg-white m-sm pt-md pl-md pb-29 shadow-card font-roboto
}

.complaint-tl-header{
    @apply font-bold text-2024 text-optionblack mb-lg
}

.complaint-tl-event-wrap-done{
    @apply flex
}

.complaint-tl-event-pointer-done{
    border: 1px solid #1D70B8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1D70B8;
}

.complaint-tl-event-wrap{
    @apply flex
}

.complaint-tl-event-pointer{
    border: 1px solid #D8D8D8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D8D8D8;
}

.complaint-tl-event{
    @apply font-regular text-1821 ml-12
}

.complaint-tl-pointer-connector{
    height: 50px;
    border-left: 1px solid #d8d8d8;
    margin-left: 10px;
}