.feedback-question-wrap {
  @apply mb-lg;
}

.feedback-question {
  @apply text-selectedlabel text-altgrey;
}

.feedback-star-wrap {
  margin-bottom: 54px;
}

.feedback-star-wrap {
  @apply flex;
}

.feedback-star {
  width: 40px;
  height: 38px;
  display: block;
  margin: auto;
}

@screen dt {
  .feedback-star-wrap {
    @apply w-full;
  }
}

@screen dt {
  .feedback-star-wrap {
    @apply w-2/5;
  }
}
