/*@import 'normalize.css';*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./body.scss";
@import "./navbar.scss";
@import "./card.scss";
@import "./radiobtn.scss";
@import "./selectdropdown.scss";
@import './textfields.scss';
@import './bannercomponents.scss';
@import './complaint.scss';
@import './mycomplaints.scss';
@import './complaintsum.scss';
@import './complainttl.scss';
@import './checkbox.scss';
@import './inputotp.scss';
@import './map.scss';
@import './uploaderror.scss';
@import './feedback.scss';

body{
  @apply bg-bggrey
}

.hello-world {
  padding: 10px;
  color: green;
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
}
