@import 'normalize.css';

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
  @apply bg-bggrey
}

.hello-world {
  padding: 10px;
  color: green;
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
}

.navbar{
  @apply text-white bg-gradient-to-r from-darkblue to-lightnavyblue p-md 
}

.navbar-header{
  @apply text-navbarheader float-left px-sm
}

.navbar-subheader{
  @apply font-light px-sm border-solid border-l border-white border-opacity-100
}

.h1{
  @apply text-h1 mx-md font-bold
}

.link-label{
  @apply text-lightblue text-a underline mx-md
}

.back-btn{
  @apply mx-sm border-solid border-b border-black border-opacity-100 float-left
}

.back-btn-pointer{
  @apply text-pointer align-middle
}

.back-btn-label{
  @apply text-a
}

.card{
  @apply bg-white m-sm p-sm shadow-card
}

.card-header{
  @apply text-headerblack text-h1 font-bold align-middle text-left
}

.card-text{
  @apply text-grey text-cardtext align-middle text-left
}

.card-radio-wrap{
  @apply my-sm block leading-10
}

.card-radio-btn-wrap{
  @apply block float-left relative
}

.card-radio-btn{
  @apply opacity-0 absolute cursor-pointer h-10 w-10
}

.card-radio-btn-checkmark{
 @apply h-10 w-10 border-2 border-radioblack border-solid rounded-full block
}

.card-radio-label{
  @apply text-label my-radiobtnx ml-radiobtnleft
}


.card-radio-btn-wrap:hover input ~ .card-radio-btn-checkmark {
  @apply shadow-radiobtn rounded-full
}

.card-radio-btn-checkmark:after {
  content: ''
}

.card-radio-btn-wrap input:checked ~ .card-radio-btn-checkmark:after {
  @apply block bg-headerblack h-5 w-5 rounded-full absolute top-10 left-10
}
