.my-complaints-card {
  @apply bg-white m-sm pt-md pl-md pb-lg pr-md shadow-card;

  p{
    @apply block text-caption-m text-text-primary;
  }

}

/* status and header */

.my-complaints-status-wrap {
  height: 30px;
  padding-bottom: 8px;
  width: 100%;

  header {
    @apply font-medium text-legend float-left;
  }

  p {
    height: 30px;
    width: 96px;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  p {
    @apply text-legend text-error text-center bg-grey-dark float-right;
  }
}

@screen dt {
  .my-complaints-status-wrap {
    @apply w-2/5;
  }
}

/* date and calender img */

.my-complaints-date-wrap {
  @apply h-6 mb-lg;


  img {
    @apply float-left h-6 w-6;
  }

  label {
    @apply text-caption-m text-text-primary align-middle pl-sm;
  }
}

/* complaint number*/

.my-complaints-number-wrap {
  height: 52px;
}

.my-complaints-number-wrap {
  @apply mb-lg;

  label {
    @apply block text-legend;
  }
  header {
    @apply block font-medium text-legend;
  }
}

/* comment */

@screen dt {
  .my-complaints-card {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
