.my-complaints-card{
    @apply bg-white m-sm pt-md  pl-md pb-lg pr-12 shadow-card
}

/* status and header */

.my-complaints-status-wrap{
    height: 30px;
    padding-bottom: 8px;
}

@screen mb{
    .my-complaints-status-wrap{
        @apply w-full
    }
}

@screen dt{
    .my-complaints-status-wrap{
        @apply w-2/5
    }
}

.my-complaints-header{
    @apply  font-medium text-2024 float-left
}

.my-complaints-status{
    height: 30px;
    width: 96px;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.my-complaints-status{
    @apply   text-2024 text-statusred text-center bg-pink float-right 
}

/* date and calender img */

.my-complaints-date-wrap{
    @apply  h-6 mb-19 
}

.my-complaints-date-img{
    @apply float-left h-6 w-6 
}

.my-complaints-date-txt{
    @apply   text-1619 text-headerblack align-middle pl-sm
}

/* complaint number*/

.my-complaints-number-wrap{
    height: 52px;
}

.my-complaints-number-wrap{
    @apply  mb-19
}

.my-complaints-label{
    @apply block  text-2024
}

.my-complaints-header{
    @apply block font-medium text-2024
}

/* comment */

.my-complaints-text{
    @apply   block text-1821 text-commentblack
}

@screen mb{
    
}

@screen dt{
    .my-complaints-card{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}